*~
*.o
*.lo
*.deps
*.gcno
*.gcda
*.libs
*.lineno
Android.mk
dbus-glib-*.tar.gz
Makefile
Makefile.in
ChangeLog
Doxyfile
aclocal.m4
autom4te.cache/
/compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
dbus-glib-1.pc
dbus-glib-1-uninstalled.pc
dbus/Makefile
dbus/Makefile.in
/dbus/dbus-bash-completion-helper
/dbus/dbus-bash-completion.sh
dbus/dbus-binding-tool
dbus/dbus-glib-test
dbus/examples/Makefile
dbus/examples/Makefile.in
dbus/examples/example-client
dbus/examples/example-service
dbus/examples/example-service-glue.h
dbus/examples/example-signal-emitter
dbus/examples/example-signal-emitter-glue.h
dbus/examples/example-signal-recipient
dbus/examples/statemachine/Makefile
dbus/examples/statemachine/Makefile.in
dbus/examples/statemachine/sm-marshal.c
dbus/examples/statemachine/sm-marshal.h
dbus/examples/statemachine/statemachine-glue.h
dbus/examples/statemachine/statemachine-server
dbus/examples/statemachine/statemachine-server-glue.h
dbus/libdbus-glib-1.la
dbus/libdbus-gtool.la
depcomp
doc/Makefile
doc/Makefile.in
doc/reference/Makefile
doc/reference/Makefile.in
doc/reference/dbus-glib-decl-list.txt
doc/reference/dbus-glib-decl-list.txt.bak
doc/reference/dbus-glib-decl.txt
doc/reference/dbus-glib-decl.txt.bak
/doc/reference/dbus-glib-undeclared.txt
/doc/reference/dbus-glib-undocumented.txt
doc/reference/dbus-glib-unused.txt
doc/reference/dbus-glib.args
doc/reference/dbus-glib.hierarchy
doc/reference/dbus-glib.interfaces
doc/reference/dbus-glib.prerequisites
doc/reference/dbus-glib.signals
doc/reference/html-build.stamp
doc/reference/html.stamp
doc/reference/html/
doc/reference/scan-build.stamp
doc/reference/sgml-build.stamp
doc/reference/sgml.stamp
doc/reference/tmpl-build.stamp
doc/reference/tmpl.stamp
doc/reference/tmpl/
doc/reference/version.xml
doc/reference/xml/
gtk-doc.make
install-sh
libtool
ltmain.sh
/lcov.info
/lcov.html/
m4/Makefile
m4/Makefile.in
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
missing
stamp-h1
test/Makefile
test/Makefile.in
test/core/Makefile
test/core/Makefile.in
/test/core/test-5688
/test/core/test-30574
test/core/my-object-marshal.c
test/core/my-object-marshal.h
test/core/run-with-tmp-session-bus.conf
test/core/test-dbus-glib
/test/core/test-gvariant
/test/core/test-private
test/core/test-profile
test/core/test-service-glib
test/core/test-service-glib-bindings.h
test/core/test-service-glib-glue.h
/test/core/test-service-glib-subclass-glue.h
test/core/test-thread-client
test/core/test-thread-server
/test/core/test-registrations
/test/core/test-variant-recursion
test/data/valid-service-files/debug-echo.service
test/data/valid-service-files/debug-glib.service
test/data/valid-service-files/test-interfaces.service.in
test/data/valid-service-files/interfaces-test.service
test/test-service
/test-driver
tools/Makefile
tools/Makefile.in
tools/dbus-bus-introspect.xml
tools/dbus-glib-bindings.h
ChangeLog
Doxyfile
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
dbus-glib-1.pc
dbus/Makefile
dbus/Makefile.in
dbus/dbus-binding-tool
dbus/dbus-glib-test
dbus/examples/Makefile
dbus/examples/Makefile.in
dbus/examples/example-client
dbus/examples/example-service
dbus/examples/example-service-glue.h
dbus/examples/example-signal-emitter
dbus/examples/example-signal-emitter-glue.h
dbus/examples/example-signal-recipient
dbus/examples/statemachine/Makefile
dbus/examples/statemachine/Makefile.in
dbus/examples/statemachine/sm-marshal.c
dbus/examples/statemachine/sm-marshal.h
dbus/examples/statemachine/statemachine-glue.h
dbus/examples/statemachine/statemachine-server
dbus/examples/statemachine/statemachine-server-glue.h
dbus/libdbus-glib-1.la
dbus/libdbus-gtool.la
depcomp
doc/Makefile
doc/Makefile.in
doc/reference/Makefile
doc/reference/Makefile.in
doc/reference/dbus-glib-decl-list.txt
doc/reference/dbus-glib-decl-list.txt.bak
doc/reference/dbus-glib-decl.txt
doc/reference/dbus-glib-decl.txt.bak
doc/reference/dbus-glib-unused.txt
doc/reference/dbus-glib.args
doc/reference/dbus-glib.hierarchy
doc/reference/dbus-glib.interfaces
doc/reference/dbus-glib.prerequisites
doc/reference/dbus-glib.signals
doc/reference/html-build.stamp
doc/reference/html.stamp
doc/reference/html
doc/reference/scan-build.stamp
doc/reference/sgml-build.stamp
doc/reference/sgml.stamp
doc/reference/tmpl-build.stamp
doc/reference/tmpl.stamp
doc/reference/tmpl
doc/reference/version.xml
doc/reference/xml
gtk-doc.make
install-sh
libtool
ltmain.sh
m4/Makefile
m4/Makefile.in
missing
stamp-h1
test/Makefile
test/Makefile.in
/test/test-errors
/test/test-specialized-types
test/core/Makefile
test/core/Makefile.in
test/core/my-object-marshal.c
test/core/my-object-marshal.h
test/core/run-with-tmp-session-bus.conf
test/core/peer-client
test/core/peer-server
test/core/test-dbus-glib
/test/core/test-error-mapping
/test/core/test-peer-on-bus
test/core/test-profile
test/core/test-proxy-peer
test/core/test-service-glib
test/core/test-service-glib-bindings.h
test/core/test-service-glib-glue.h
/test/core/test-shared-bus
test/core/test-thread-client
test/core/test-thread-server
test/core/test-types
test/data/valid-service-files/debug-echo.service
test/data/valid-service-files/debug-glib.service
test/data/valid-service-files/test-interfaces.service.in
test/test-service
tools/Makefile
tools/Makefile.in
tools/dbus-bus-introspect.xml
tools/dbus-glib-bindings.h
/test/interfaces/run-with-tmp-session-bus.conf
/test/interfaces/*-bindings.h
/test/interfaces/*-bindings.h.tmp
/test/interfaces/*-glue.h
/test/interfaces/*-glue.h.tmp
/test/interfaces/test-server
/test/interfaces/test-service
/test/interfaces/test-client
/test/manual/test-invalid-usage
